*  {
    margin: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'Open Sans', sans-serif ;
}


header  {
    position:relative;
    width: 100vw;
    height: 3.8rem;
    background-color: #413e3e;
}

.parent   {
    width: 100vw;
    height: 3.8rem;
    margin: 0px auto;
position: fixed;
background-color:#413e3e;
gap: 20px;
display: flex;
flex-direction: row;
color: rgb(255, 243, 243);

margin-left: 10px;
}



.parent  h1  {
padding-top: 10px;
text-transform: lowercase;
}

.jedan  {
    color: #23bf2e;
}

.ono {
    width: 150px;
    height: 3.8rem;
    background-color: #222121;
    font-size: 15px;
    color: rgb(109, 109, 109);
    text-transform: uppercase;
text-decoration: none;
}



#tri  {
    font-size: 29px;
    color: #898787;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 0.5px solid white;
    width: 70px;
    height: 3.8rem;
    
}

#cet  {
    font-size: 29px;
    color: #ffffff;
    background-color: #23bf2e;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 0.5px solid white;
    width: 70px;
    height: 3.8rem;
}

.pi  {
    display: flex;
    flex-direction: row;
    margin-left: 860px;

}
main  {
    position: fixed;
}

.glavni  {
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: #0b0b5b;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-direction: row;
}

.ki h2  {
    margin-left: 200px;
margin-top: -90px;
    color: #ffffff;
}

.glavni ul li a  {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.glavni  ul {
    list-style-type: none;
}

.oi  {
    display: flex;
    flex-direction: row;
margin-right: 200px;
    align-items: center;
    gap: 25px;
}

.oi button  {
    width: 130px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: white;
    color: black;
    margin-left: 50px;
}

.drv  {
margin-top: 100px;
width: 1000vw;
    height: 1000px;
    background-color: #10107c;
    background-image:url(https://preview.colorlib.com/theme/parason/img/banner/xhero-banner.png.pagespeed.ic.ZCbyoop1Xb.webp) ;
background-repeat: no-repeat;
background-size: 50vw 500px;

}
ba