*  {
    margin: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'Open Sans', sans-serif;
}

header  {
    position: relative;
    width: 100vw;
    height: 2rem;
    background-color: rgb(29, 28, 28);
}
main {
    position: fixed;
}

.parent img  {
    width: 25px;
    height: 1rem;
    margin-left: 40px;
    margin-top: 7px;
}
.parent  {
    position: fixed;
    background: black;
    width: 100vw;
    height: 2rem;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.parent h1  {
    font-size: 20px;
    margin-left: 10px;
}
.jedan {
    color: #348bdd;
}

#icon  {
    font-size: 20px;
    display: flex;
gap: 10px;
margin-top: 7px;
padding-left: 20px;
}
.on  {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 310px;
    gap: 28px;
}

.on h3  {
    color: #808080;
}

.la  {
    display: flex;

    margin-left: 500px;
}
#dva {
    margin-top: 10px;
    margin-left: 35px;
    color: rgb(80, 88, 95);
    font-size: 20px;
}
.la button  {
    width: 140px;
    height:2rem;
    background-color: #348bdd;
    color: aliceblue;
    margin-left: 50px;
}

.glavni  {
    width: 100vw;
    height: 130px;
    box-shadow: 2px 2px 1px rgb(226, 220, 220);
    background-color: rgb(241, 235, 235);
opacity: 0.9;
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.glavni h1  {
    color: rgb(11, 11, 77);
}

.glavni ul li a {
    text-decoration: none;

}
.glavni ul  {
    list-style-type: none;
    color: rgb(15, 15, 75);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    margin-top: 36px;
}

.glavni button  {
    margin-top:
    -10px;
    width: 140px;
    height: 50px;
    margin-right: 10px;
    color: aliceblue;
    background-color: rgb(21, 21, 174);
}

.oni  {
    background-image: url(https://bootstrapmade.com/demo/templates/FlexStart/assets/img/hero-img.png);
  background-repeat: no repeat;
    margin-top: 120px;
    width: 100vw;
    height: 1200px;
    color: black;
}
.ona  {
    color: black;
    margin:  50px auto;
    width: 500px;
    height: 500px;
    opacity: 0.9;
    margin-top: 220px;
    margin-left: 240px;
}

.ona h2  {
color: rgb(10, 10, 50);
font-size: 35px;
}
.ona p  {
    font-size: 25px;
}

.cet {
    position: absolute;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    color: aliceblue;
    margin-left: 10px;
    background-color: rgb(24, 24, 127);
}