body{
    background-color: #faebd7;
}
body:hover{
    background-color: #ff0000;
}

.prvaklasa{
    width: 400px;
    height: 300px;
    background-color: #00ffff;
    margin:50px auto;
    margin-top: 150px;
    padding:30px;
    border: 5px dashed #ff0000;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgba(23, 23, 223);
    text-align: center;
    text-transform: uppercase;
    text-indent: 10px;
}
.prvaklasa h1{
    color: #802b07;
}

.prvaklasa h1:hover{
    color: olivedrab
}